<!DOCTYPE HTML>
<html>
	<head>
		<title>
			Joyce's website
			
		</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='personal-project.css')}}">
	</head>
	<body>
		<div class="container">
		<script type="text/javascript">

			function display(){
				console.log("I HATE AHMAD!!")
			}



		</script>

		

		<h1>welcome</h1>
			<div class="navbar">
				
				<a href ="#aboutme">about me</a>
				<a href ="#contactme"> contact me</a>
			</div>

		<button onclick="display()">MY SECRET</button>
		<p id = aboutme>Hey my name is joyce i am a 15 year old student from bethehem ,I joined meet 1 year ago iT was one of my favourite experience , even though i hate cs the perfect example is that i am suffering while doing the website your seeing right now lol , i am planning on studying biomedical engineering ... so i am working on my cs skills so bad i hope i would achieve my goals....You know no one is perfect you just have to strive for excellence,set up your goals and keep it up  </p>
		<br>
		<br>
		<img src="{{url_for('static', filename='soprano.jpg')}}" width="300" height="400">
		<img src="{{url_for('static', filename='images.png')}}" width ="400" height ="300">

		<br>
		<p>
			Besides that i am a really social ,friendly,stressing person... I like getting to know new people .... and some of  them become close to me 
		</p>
		<br>
		<p> FACTS</p>
		<ul id=lists >
			<li>I HATE CS</li>
			<li>I play the soprano</li>
			<li>I love eatig</li>

		</ul>
		<br>
		<img src="{{url_for('static',filename='food.jpg')}}" width="400" height="300">
		<br>
		<p>Contact Me</p>
		<br>
		<p id=contactme class=contactme > Facebook- Joyce J Morcos                                
		</p>
		<p id=contactme class=contactme>Instagram -Joyce Morcos</p>
		<a id="gmail" href="mailto:joycemorcos26.1@gmail.com">Here's my email</a>
	    
		
		
		
		 
	</div>
</body>

</html>